.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  column-gap: 24px;

  padding-top: 68px;
  padding-left: 120px;

  border-radius: 59px;
  background-color: #F4F6F5;
}

/* .promo__text {} */

.promo__title {
  max-width: 480px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(120/96);
}


.promo__descr {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 32px;
  line-height: (48/32);
  letter-spacing: -.05em;
}

.promo__btn-wrapper {
  display: flex;
  column-gap: 34px;
  align-items: center;
}

.promo__btn-wrapper::before {
  content: '';
  display: inline-block;
  width: 190px;
  height: 32px;
  background-image: url('./../../images/icons/decor-yellow.svg');
  background-position: bottom;
}


.promo__btn {
  padding: 18px 40px;
  background: var(--text-color);
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -.05em;
  color: #fff;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight span {
  position: relative;
  color: var(--text-color);
}

.highlight::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  bottom: 0;
  left: -20px;
  right: -160px;
  background-color: #fff;
  transform: rotate(-2deg);
}

.highlight--yellow::before {
  background-color: var(--yellow);
  transform: rotate(3.5deg);
  right: -124px;
}